{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
    .container {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .event-info {
        margin-left: 10%;
        font-weight: bold;
        text-align: left;
        margin-top: 50px;
    }
    .event-description {
        text-align: left;
    }
    .button-container {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .event-image {
        margin: auto;
        padding-top: 10px;
        max-width: 100%;
        height: auto;
    }
    @media only screen and (max-width: 600px) {
        .event-info {
            margin-left: 5%;
        }
    }
</style>

<div class="container">
    <h2 style="font-weight: bold;">Mexican Salsas Experience</h2>
    <p>Hosted by Chef Natalia Luna</p>
    <p>2.5 hours. Hosted in English, Spanish, and French</p>
    <p>Great for groups & Team-Building</p>


    <a href="{% url 'reservation' %}"> <button style="color: white; background-color: pink; border: none; padding: 20px; margin-top: 40px; align-items: center; margin: auto; margin-left: 45%;"> GET TICKETS </button> <a>
    <div class="event-info">
        <h3 >Experience Details</h3>
        <ul>
            <li>First stop, fresh market for ingredients</li>
            <li>Next, hands-on instruction and taste-testing accompanied by all the agua de jamaica (hibiscus tea) you can handle</li>
            <li>Once salsas are made, together we cook & eat quesadillas (as many as you want to eat)</li>
            <li>Final touch because we know our audience: take home fresh salsa!</li>
        </ul>

        <p>We will meet at an ancient church located at the heart of Tacuba, which history goes way back before the Spanish arrived in America. Steps away is the Tacuba Market where we will buy our fresh ingredients.</p>
        
        <p>We will cook the salsas in the four traditional ways: raw, fried, boiled and roasted. All different in personality, flavor, chile and spicy level. You will be surprised how easy it is to cook salsa, at the same time we will prepare some quesadillas to eat with our salsas. Unlimited jamaica water included. At the end you will leave with a jar of salsa and new recipes to take home! When booking this experience you also support the local commerce.</p>
    </div>

    <div class="button-container">
        <!-- Agregar botones o íconos aquí -->
        <p>Vegetarian and vegan options available</p>
        <p>Top-Rated</p>
        <p>Cancellation flexibility</p>
    </div>

    <div class="event-info">
        <p>We are located north of Mexico City. About 25 minutes driving from Roma Norte, Condesa, Chapultepec Park and Centro Histórico, 8 minutes from Polanco.</p>
        <p>Please consider this experience can be held in more than one language simultaneously. Our Kitchen is on the 1st floor (there’s no elevator) and shared with a scaredy cat. If you prefer a different time or day, we can arrange it! An open to public group is up to 10 people. An open to public group is up to 10 people. Private group is up to 30 people. Larger groups available: Contact (hipervinculo) If you prefer a different time or day, we can arrange it! Contact (hipervinculo)</p>
    </div>
</div>

{% endblock %}
