{% extends "index.html" %}
{% load static %}

<style>

    .subtitle{
        margin-right: 40px;
    }
</style>
{% block content %}

<section style="display: flex; flex-direction: column ; margin: auto; width: 60%; margin-top: 120px;">

    <p> < Back</p>
    <h2 style="font-weight: 700; font-size: 45px; color: #000;">Strawberry Red Punch and Potato Salad</h2>

     <div style=" display: flex; margin-top: 20px; margin-bottom: 40px;">
        <p style="color: gray; margin-right: 70px;" class="subtitle"> Prep Time:<br><span style="color: black;"> 40</span></p>
        <p style="color: gray; margin-right: 70px;" class="subtitle"> Cook Time:  <br><span style="color: black;"></span> 20</span></p>
        <p style="color: gray; margin-right: 70px;"class="subtitle"> Serves:  <br><span style="color: black;"></spanstyle>2</span></p>
        <p style="color: gray; margin-right: 70px;"class="subtitle"> Level: <br><span style="color: black;"></span> Beginner</span></p>
        <p style="color: gray;margin-right: 70px;"class="subtitle"> Tag: <br><span style="color: black;"></span> Summer </span></p>
     </div>

     <h3 style="font-weight: bolder; margin-top: 20px; margin-bottom: 20px;"> ABOUT THE RECIPE</h3>

     <p style="margin-top: 20px; margin-bottom: 20px;">By Chef Chakayla Taylor 🍓 Sip and Savor! 🥔 Freshen up your summer with our  tantalizing Strawberry Red Punch and creamy Potato Salad. Bursting with flavor and goodness, this dynamic duo will leave your taste buds dancing all season long!</p>

     <img src="https://static.wixstatic.com/media/3b9bbb_0da431b7f8574f2ba3fc7f834599123e~mv2.png/v1/fill/w_302,h_452,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3b9bbb_0da431b7f8574f2ba3fc7f834599123e~mv2.png" style="width: 100%; height: 500px; object-fit: cover; margin-top: 20px;" alt="Receta 1">


     
     <div>
        <h3>
            INGREDIENTS
        </h3>
     </div>



</section>
{% endblock %}