{% extends "index.html" %}
{% load static %}

<style>
    .round-btn {
      border-radius: 50%; /* Hace que el botón sea redondo */
      width: 50px; /* Ajusta el ancho del botón según sea necesario */
      height: 50px; /* Ajusta la altura del botón según sea necesario */
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black; /* Color de fondo negro */
      color: white; /* Color de texto blanco */
      text-decoration: none; /* Quita la decoración de texto predeterminada */
    }

    .round-btn i {
      transform: translateX(2px); /* Ajusta la posición de la flecha */
    }
  </style>
{% block content %}
  <div class="container mt-5" style="display: flex; flex-direction: column;" >
    <h2 style="text-align: center;  padding: 40px; margin-bottom: 40px; font-weight: 800;">RECIPES</h2>

    <div class="row">
      <!-- Tarjeta de Receta 1 -->
    
    {%for recipe in recipes%}
      <div class="col-md-4 mb-4">
        <div class="card" style="height:max-content;">
            <img src="{{ recipe.picture.url }}" style="width: 302px; height: 180px; object-fit: cover;" alt="Receta 1">
            <div class="" style="justify-content: baseline; border-bottom: 1px solid black;  border-left: 1px solid black; border-top: 1px solid black;">
                <h5 style="font-weight: 800; text-align: justify; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;">{{recipe.name}}</h5>
                <p class="card-text" style="text-align: justify; margin-left: 10px; margin-right: 10px;">
                   {{recipe.about}}
                </p>
                <div style="margin-left: 85%; padding-bottom: 20px;"> <!-- Agregado para centrar el icono -->
                   <a href="{%url 'recipes_details' id=recipe.id %}"> <i class="fas fa-arrow-right" style="padding: 8px; background-color: black; color: white; border-radius: 100%;"></i></a>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    

      <!-- Tarjeta de Receta 2 -->
    

      <!-- Agrega más tarjetas según sea necesario -->

    </div>
  </div>
{% endblock %}
