{% extends "index.html" %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment </title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add custom styles here if needed */
    </style>
</head>
{%block content%}
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Payment </h1>
            {{form.render}}
            </div>
    </div>

{%endblock%}